.wpgithub-profile{background-color:#EEE;border:1px solid #D5D5D5;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;padding:5px;display:inline-block}
.wpgithub-user{display:inline-block;margin-right:5px}
.wpgithub-user img{vertical-align:top;padding:5px;float:left}
.wpgithub-user h3{margin:10px 0 0;font-size:15px;line-height:20px;font-weight:600;padding:0}
.wpgithub-user h3 a{color:#333}
.wp-github-gravatar, .wp-github-usr {  display: inline-block;  margin: 0;  padding: 0; float: left; }
.wpgithub-user p{margin:0px;font-size:14px;line-height:20px;padding:0}
.wpgithub-bblock{display:inline-block;font-size:90%;width:100px;text-align:center;padding:5px;vertical-align:top}
.wpgithub-bblock > .wpgithub-count{background-color:#FFF;border:1px solid #D5D5D5;-webkit-border-radius:6px 6px 0 0;-moz-border-radius:6px 6px 0 0;border-radius:6px 6px 0 0;color:#333;display:block;font-weight:700}
.wpgithub-bblock > .wpgithub-text{background-color:#EEE;background-image:linear-gradient(#FCFCFC,#EEE);border-width:0 1px 1px;border-color:#D5D5D5;border-style:solid;-webkit-border-radius:0 0 6px 6px;-moz-border-radius:0 0 6px 6px;border-radius:0 0 6px 6px;color:#333;display:block;font-size:13px;font-weight:700;line-height:24px;text-shadow:0 1px 0 #FFF}
.wpgithub-bblock:hover > .wpgithub-text{background-image:linear-gradient(#EEE,#DDD)}
.widget_profile > .wpgithub-profile{display:block}
.widget_profile > .wpgithub-profile > .wpgithub-bblock{clear:both;display:block;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.widget_repos ul li span.forked_from{display:inline-block}
.widget_repos ul li span.forked_from:before{font-family:'FontAwesome';content:'\f126';margin-right:4px}
.widget_repos ul li span.forked_from a{font-size:12px;font-weight:400;display:inline-block}
.wpgithub-description{font-size:80%;padding:1em 0;color:#5C5C5C;}
.wp-github.wpg-repo li{}
.wp-github.wpg-repo li span{float: left; padding: 0 0 1em 0;  clear: left;}
.wp-github-state{margin-right:1em;padding: 0 1em; background: #ededed;border-radius: 2px;}
.wp-github-state.open{background-color:rgba(135, 217, 98, 0.69);}
.wp-github-state.closed{background-color:#ededed;}