.wpgithub-profile {
	background-color: #EEEEEE;
	border: 1px solid #D5D5D5;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
	padding:5px;
	display: inline-block;
}

.wpgithub-user{
	display: inline-block;
	margin-right: 5px;
}

.wpgithub-user img{
	vertical-align: top;
	padding:5px;
	float: left;
}

.wpgithub-user h3{
	margin-left: 70px;
	font-size: 15px;
	line-height: 20px;
	font-weight: 600;
	margin-bottom: 0px;
}

.wpgithub-user h3 a{
	color: #333333;
}

.wpgithub-user p{
	margin-left: 70px;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 0px;
}

.wpgithub-bblock{    
	display: inline-block;
    font-size: 90%;
    width: 100px;
	text-align: center;
	padding: 5px;
	vertical-align: top;
}

.wpgithub-bblock  > .wpgithub-count{
    background-color: #FFFFFF;
    border: 1px solid #D5D5D5;
	-webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    color: #333333;
    display: block;
    font-weight: bold;
}

.wpgithub-bblock  > .wpgithub-text{
    background-color: #EEEEEE;
    background-image: linear-gradient(#FCFCFC, #EEEEEE);
	border-width: 0px 1px 1px;
    border-color: #D5D5D5;
    border-style: solid;
	-webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    color: #333333;
    display: block;
    font-size: 13px;
    font-weight: bold;
	line-height: 24px;
	text-shadow: 0 1px 0 #FFFFFF;
}

.wpgithub-bblock:hover  > .wpgithub-text{
	background-image: linear-gradient(#EEEEEE, #DDDDDD);
}

.widget_profile > .wpgithub-profile{
	display: block;
}

.widget_profile > .wpgithub-profile > .wpgithub-bblock{
	clear: both;
	display: block;
	width: 100%;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}